.login {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgb(252, 252, 252);
  margin: 0;
  overflow: hidden;
}

.login-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-basis: 60%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.login-cont.animate {
  opacity: 1;
  transition: opacity 0.7 ease-in-out;
}

.side-bar {
  height: 100vh;
  flex-basis: 40%;
  background-color: #fcfcfc95;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #888786 10px
    ),
    repeating-linear-gradient(#fcfcfc95, #888786);
  opacity: 0; /* Initially hide the image */
  transform: translateX(50px); /* Initially move the image to the right */
  transition: opacity 0.7s ease, transform 0.7s ease; /* Add transitions */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /*box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;*/
}

.side-bar.animate {
  opacity: 1; /* Show the content */
  transform: translateX(0); /* Move the content to its original position */
}

.login-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-head h1 {
  margin-bottom: 18px;
  font-size: 40px;
}
.login-head p {
  font-size: 20px;
}
.login-button {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 40%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: white;
  flex-wrap: wrap;
  margin-left: -50px;
}

.login-btn {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

.p1 {
  padding-bottom: 3px;
}

.p2 {
  margin-left: -20px;
}

@media (max-width: 768px) {
  .p2 {
    margin-left: 2px;
  }

  .login-button {
    width: 100%;
    margin-left: 4px;
    height: 20%;
  }
  .login-cont {
    z-index: 2;
    padding-left: 10px;
  }
  .login-btn {
    width: 100%;
    padding-inline: 70px;
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  .login {
    overflow: visible;
    justify-content: center;
  }
}
